/* Big table to 1200px (widths smaller than the 1140px row */
@media only screen and (max-width: 1200px){
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.665), rgba(0, 0, 0, 0.748)), url(../images/bg.jpg);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
}

/* Small tablet to Big table: From 768 to 1023px */
@media only screen and (max-width: 1023px){
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.665), rgba(0, 0, 0, 0.748)), url(../images/bg.jpg);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    .icons i {
        font-size: 28px;
        padding: 10px 10px 20px 0px;
    }
    h1 {
        font-size: 38px;
  
    }
    .header-banner {
        color: white;
        padding-top: 100px;
        width: 90%;
        margin: auto;
    }
}


/* Small phones to small tablets: From  481px to 767px */
@media only screen and (max-width: 767px){
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.665), rgba(0, 0, 0, 0.748)), url(../images/bg.jpg);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
    .icons i {
        font-size: 18px;
        padding: 10px 10px 20px 0px;
    }
    .btn {
        font-size: 12px;
    }

}

/* Small phones: From 0 to 480px */
@media only screen and (max-width: 480px){
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.665), rgba(0, 0, 0, 0.748)), url(../images/bg.jpg);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    .header-banner {
        color: white;
        padding-top: 150px;
        width: 90%;
        margin: auto;
    }
    h2 {
        font-size: 24px;
    }
}

/* 
	Desktop: 1200px // col-xl
	Laptop: 1024px // col-lg
	Tablet: 768px // md
	Phone: 480px // sm
*/
