* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
html,
body{
	/* font-family: 'JetBrains Mono',  'Arial', monospace; */
	font-family: 'Lato', 'Arial', sans-serif;
	background-color: #fff;
	color: #1a1a1a;
	font-weight: 300;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


/* Preloader */
#preloader {
	background-color: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;

}
#status {
	background-image: url(../images/preloader/Ball-1s-200px.gif);
	background-repeat: no-repeat;
	width: 130px;
	height: 130px;
	position: absolute;
	left: 50%;
	top: 40%;
	margin-top: -60px;
	margin-left: -90px;
}



/* Custom */
.header-banner p{
	color: #fff;
	
}
h1 {
	font-size: 52px;
	font-weight: 300;
	/* font-weight: bold; */
}
h2 {
	font-weight: 300;
}
h1,

.icons i{
	color: #fff;
	text-shadow:  2px 2px #1a1a1a;
}

.icons i {
	font-size: 18px;
	padding: 10px 10px 20px 0px;
}
span {
	color: #cf6d17;
}
#btn-portfolio {
	background-color: #cf6d17;
	color: #fff;
}
h5, p, #about li,
#contact label, h3{
	color:  #1a1a1a;;
}

#about,
#projects,
#contact {
	
	padding-top: 90px;
}
#about h2,
#projects h2,
#contact h2 {
	margin-bottom: 60px;
	text-align: center;
	color: #cf6d17;
	font-weight: 500;
}
/* Header */
.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.549), rgba(0, 0, 0, 0.3)), url(../images/bg.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.header-banner {
	color: white;
	padding-top: 150px;
	/* width: 90%;
	margin: auto; */
	text-align: center;
}
.header-banner h4 {
	color: #cf6d17;
	text-shadow:  2px 2px #1a1a1a;
}
.header-banner  a {
	color: #fff;
	text-decoration: none;
}

.header-banner  button {
	background-color: #cf6d17;
}

/* Nav */
.navbar {
    background:#cf6d17;
}
nav {
	border-bottom: 2px solid #cf6d17;
}
#resume {
	background-color:  #1a1a1a;
	color: #cf6d17;
}
/* About */


.skills-icon i {
	font-size: 18px;
	color: #cf6d17;
}
.skills-icon ul {
	list-style-type: none;
}
.td2 {
	padding-left: 50px;
}
.profile img {
	height: 350px;
	
}

/* skills */
.skills {
	margin-top: 40px;

}
.skills .card-body {
	background-color: #cf6d17;
}

	

/* Projects */
#projects {
	margin-top: 60px;
	padding-bottom: 70px;
	
	
}
#projects h2 {
	text-align: center;
}
.line:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 90px;
    margin: 0 auto;
    margin-top: 30px;
}
#open{
	background-color: #cf6d17;
	color: #fff;
}
/* .card {
	background-color: #cf6d17;
} */

.proj-2 {
	margin-top: 40px;
}
/* Contact */
#contact {
	padding-bottom: 60px;
}
#contact h2 {
	text-align: center;
}
/* Footer */
#footer {
	color: #fff;
	padding: 40px;
	text-align:  center;
	background-color: #1e1e1e;
	
	border-top: 2px solid #cf6d17;

}

.ongoing {
	font-weight: bold;
	color: #cf6d17;
}


.footer-icon i {
	font-size: 25px;
		text-shadow: 3px 3px #1a1a1a;
		color: #fff;
		
}
 
.footer-link ul {
	list-style-type: none;
	display: flex;
	
	
}
.footer-link li a {
	/* display: flex; */
	text-decoration: none;
	color: #fff;
	text-shadow: 3px 3px #1a1a1a;
	/* margin-right: 15px;
	border-right: 1px solid #fff;
	padding-right: 20px;
	 */

  }

  .icons a {
	  text-decoration: none;
  }

  .icons i {
	font-size: 35px;
}
  .icons i:hover {
	color: #cf6d17;
}